@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Gözde Pansiyon Bilecik | Ana Sayfa";
    ViewBag.Description = "Gözde Pansiyon resmi web sitesi";
    ViewBag.Keywords = "gözdepansiyon, pansiyon, bilecik, web, sitesi";
}
 
 
<link href="~/Content/css/slider.css" rel="stylesheet" />

<div id="slider" style="margin-bottom:100px"> 
        <div class="accordian">
            <ul>
                <li>
                    <div class="image_title">
                        <a href="#"></a>

                    </div>
                    <a href="#">
                        <img src="~/Content/imgPans/Screenshot_3.png" />
                    </a>
                </li>
                <li>
                    <div class="image_title">
                        <a href="#">Gözde Pansiyon</a>
                    </div>
                    <a href="#">
                        <img src="~/Content/imgPans/Screenshot_5.png" />
                    </a>
                </li>
                <li>
                    <div class="image_title">
                        <a href="#">Gözde Pansiyon</a>
                    </div>
                    <a href="#">
                        <img src="~/Content/imgPans/Screenshot_2.png" />
                    </a>
                </li>
                <li>
                    <div class="image_title">
                        <a href="#">Gözde Pansiyon</a>
                    </div>
                    <a href="#">
                        <img src="~/Content/imgPans/Screenshot_4.png" />
                    </a>
                </li>
                <li>
                    <div class="image_title">
                        <a href="#">Gözde Pansiyon</a>
                    </div>
                    <a href="#">
                        <img src="~/Content/imgPans/Screenshot_1.png" />
                    </a>
                </li>
               
               
            </ul>
        </div>
</div>

<div class="content-text">
    <h2 style="margin-top: 25px;margin-bottom:25px">HİZMETLERİMİZ</h2>
 
    <img style="height:250px;width:200px;margin-right:50px;margin-bottom:50px;margin-left:60px" src="~/Content/imgPans/afiş2.jpg" class="img-left" />
     <p>
         <ul style="list-style-type:disc">
             <li> Günlük Konaklama</li>
             <li> 1-2-3-4 Kişilik Odalar</li>
             <li> Yemekli / Yemeksiz Seçenekler</li>
             <li> Kahvaltı + Yemek</li>
             <li> 24 Saat Sıcak Su</li>
             <li> Sınırsız İnternet</li>
             <li> 24 Saat Güvenlik</li>
             <li> Güvenlik Kamera Sistemi</li>
             <li> Her Odada Televizyon</li>
             <li> Kişisel Kıyafet Dolabı ve Çalışma Masası</li>
             <li> Temizlik Hizmeti</li>
             <li> Ütü ve Çamaşırhane Hizmeti</li>
         </ul>
    </p>
    <br />
    <p style="margin-left:60px;margin-right:60px">
        <b>Bilecik Gözde Kız Apart & Pansiyon </b>; ortak kullanım alanları, güvenlik, temizlik ve diğer hizmet imkanlarıyla fark yaşayın. Her geçen sezon daha da yenilenen ve ihtiyaçlara göre değişiklik gösteren hizmet portföyümüzle misafirlerin en temel ihtiyaçlarının karşılanması hedefleniyor. Pansiyon hizmetlerindeki deneyimle sağlanılan eşsiz ortam tüm misafirlerin memnuniyetini hedefliyor.
        Bilirsiniz ki  ev kiralamak zor olmakla beraber masraflıdır. Depozito, güvence bedelleri, aidat,eşya vs. gibi masraflar bunların bazılarıdır. Bunların yanı sıra kurs, öğrenim ve kısa süre konaklamalar için kiralık daire bulmak zor olmakla beraber otellerde çok pahalıdır. Bilecik'te pansiyon denilince, ilk akla gelen <b>Bilecik Gözde Kız Apart & Pansiyon</b> ailesi olarak hizmetinizdeyiz.
    </p>
    
</div>

<div class="content-text" style="padding-bottom: 25px">
 
</div>



     