@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "AKTURKSOFT | Bireysel";
    ViewBag.Description = "AKTURKSOFT Bireysel Sayfası";
    ViewBag.Keywords = "AKTURKSOFT, solutions, bireysel,sayfası";
}

<h2>Bireysel Sayfası</h2>
