@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "AKTURKSOFT | Kurumsal";
    ViewBag.Description = "AKTURKSOFT Kurumsal Sayfası";
    ViewBag.Keywords = "AKTURKSOFT, solutions,kurumsal, sayfası";
}
<h2>Kurumsal Sayfası</h2>
