@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "AKTURKSOFT | Bize Dair";
    ViewBag.Description = "AKTURKSOFT Hakkında Sayfası";
    ViewBag.Keywords = "AKTURKSOFT, solutions, hakkında,sayfası";
}

 
<div class="content-text">
    <div class="img-left-box">
        
        <img src="~/Content/img/sunucuodasi.jpg" alt="sunucu odası" class="img-left-top"/>
        <img src="~/Content/img/sunucuodasi-alt.jpg" alt="sunucu odası alt" class="img-left-buttom"/>


    </div>
    <p>
        Nulla facilisis dignissim elementum. Fusce interdum elit id venenatis efficitur. Proin velit tellus, congue sed libero a, tincidunt tristique ipsum. Pellentesque condimentum mollis lectus non commodo. Suspendisse potenti. Sed sit amet nulla nec arcu aliquam molestie. Curabitur viverra pellentesque odio, non venenatis libero varius sit amegyjgt. Aenean sodales tortor sed ipsum hendrerit, in elementum metus volutpat. Donec nec volutpat dolor, at fringilla tellus. Aenean eget tincidunt ipsum. Integer vitae odio justo. Curabitur porttitor interdum eros, et scelerisque dui viverra nec. In sodales quam sed vestibulum tristique. Phasellus viverra sapien risus, tincidunt pretium velit auctor sed. Suspendisse dignissim ligula sem.e
    </p>
    <p>
        Nulla facilisis dignissim elementum. Fusce interdum elit id venenatis efficitur. Proin velit tellus, congue sed libero a, tincidunt tristique ipsum. Pellentesque condimentum mollis lectus non commodo. Suspendisse potenti. Sed sit amet nulla nec arcu aliquam molestie. Curabitur viverra pellentesque odio, non venenatis libero varius sit amegyjgt. Aenean sodales tortor sed ipsum hendrerit, in elementum metus volutpat. Donec nec volutpat dolor, at fringilla tellus. Aenean eget tincidunt ipsum. Integer vitae odio justo. Curabitur porttitor interdum eros, et scelerisque dui viverra nec. In sodales quam sed vestibulum tristique. Phasellus viverra sapien risus, tincidunt pretium velit auctor sed. Suspendisse dignissim ligula sem.e
    </p>


</div>