@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "AKTURKSOFT | Misyonunum";
    ViewBag.Description = "AKTURKSOFT Misyonunumuz Sayfası";
    ViewBag.Keywords = "AKTURKSOFT, solutions, misyon, sayfası";
}

<h2>Şirketin Misyonu</h2>
