@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "AKTURKSOFT | Çözümler";
    ViewBag.Description = "AKTURKSOFT Çözümler Sayfası";
    ViewBag.Keywords = "AKTURKSOFT, solutions, çözümler, sayfası";
}

 
<link href="~/Content/css/Style1.css" rel="stylesheet" />

<div class="content-text">

    <h2>ODALARIMIZ</h2>
    

    <div class="solution-option-container">
        <a class="button" href="#popup1">
            <div href="#popup1" class="solution-option">
                4 Kişilik Odalar

            </div>
        </a>
        <a class="button" href="#popup2">
            <div href="#popup2" class="solution-option">
                3 Kişilik Odalar

            </div>
        </a>
        <a class="button" href="#popup3">
            <div href="#popup3" class="solution-option">
                2 Kişilik Odalar

            </div>
        </a>
        <a class="button" href="#popup4">
            <div href="#popup4" class="solution-option">
                1 Kişilik Odalar

            </div>
        </a>

    </div>
</div> 
  
 
<div class="box">
    <a class="button" href="#popup1">Let me Pop up</a>
</div>

<div id="popup1" class="overlay">
    <div class="popup">
        <h2>4 Kişilik Odalar</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <img style="width:400px;height:200px" src="~/Content/imgPans/4 Kişilik Oda(2).jpeg" />
        </div>
        <hr />
        <div class="content">
            <img style="width:400px;height:200px" src="~/Content/imgPans/4 Kişilik Oda.jpeg" />
        </div>
        
    </div>
</div>

<div id="popup2" class="overlay">
    <div class="popup">
        <h2>3 Kişilik Odalar</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <img style="width:400px;height:200px" src="~/Content/imgPans/3 Kişilik Oda(2).jpeg" />
        </div>
        <hr />
        <div class="content">
            <img style="width:400px;height:200px" src="~/Content/imgPans/3 Kişilik Oda.jpeg" />
        </div>

    </div>
</div>

<div id="popup3" class="overlay">
    <div class="popup">
        <h2>2 Kişilik Odalar</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <img style="width:400px;height:200px" src="~/Content/imgPans/2 Kişilik Oda(2).jpeg" />
        </div>
        <hr />
        <div class="content">
            <img style="width:400px;height:200px" src="~/Content/imgPans/2 Kişilik Oda.jpeg" />
        </div>

    </div>
</div>

<div id="popup4" class="overlay">
    <div class="popup">
        <h2>1 Kişilik Odalar</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <img style="width:400px;height:200px" src="~/Content/imgPans/1 Kişilik Oda.jpeg" />
        </div>
         

    </div>
</div>