@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "AKTURKSOFT | Hakkımızda";
    ViewBag.Description = "AKTURKSOFT hakkımızda Sayfası";
    ViewBag.Keywords = "AKTURKSOFT, solutions, hakkımızda, sayfası";
}



<center>
    <h2>
        İlkeli Duruş & Kaliteli Hizmet
    </h2>
</center>
<p style="margin-left:50px;margin-right:50px;text-indent:30px;">
    Konuklarımıza ve çalışanlarımıza olan davranışlarımızda; karşılıklı saygı ve dürüstlük ilkemizi korumak, topluma, doğal çevreye ve insanlığa karşı olan sorumluluğumuzun bilincinde olmak, bilgi çağının olanaklarını tüm hizmet alanlarımızda uygulamak, konuklarımızın ihtiyaç ve beklentilerini, beklediklerinden daha kaliteli bir hizmet anlayışıyla karşılamak temel hedefimizdir.
</p>
<center>
    <h2>
        İhtiyaçlara Uygun Çözümler
    </h2>
</center>
<p style="margin-left:50px;margin-right:50px;text-indent:30px;">
    Kaliteli ve yenilikçi hizmetlerimiz ile koşulsuz müşteri memnuniyetini sağlayarak sektörümüzün öncüsü olmaktır. Kalıcı konuklar edinmenin değerine inanıyor, konuklarımızla aramızdaki iş ortaklarına uzun vadeli bakıyoruz. Konuklarımızın yerine düşünüyor, konuklarımızın ihtiyaçlarına uygun, değer katan çözümler üretiyoruz.
</p>
