@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "AKTURKSOFT | Kuruluş";
    ViewBag.Description = "AKTURKSOFT Kuruluş Sayfası";
    ViewBag.Keywords = "AKTURKSOFT, solutions, kurulus, sayfası";
}

<h2>Kuruluş hakkında Bilgi</h2>
